# ======================================================
# SERVER CONFIGURATION
# ======================================================

PORT=3000
APP_NAME=PrepPilot API
NODE_ENV=development

# ======================================================
# JWT CONFIGURATION
# ======================================================

JWT_SECRET=my_long_random_jwt_secret

# ======================================================
# POSTGRESQL DATABASE CONFIGURATION
# ======================================================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=preppilot
DB_USER=postgres
DB_PASSWORD=my_postgresql_password